.opcoes {
  display: flex;
}

.opcao {
  font-size: 16px;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}
